<div class="content">
  <div *ngFor="let location of locations" class="item-list">
    <div
      class="item location-item clickable"
      [matTooltip]="location.name"
      (click)="setDetailsTarget(location)"
    >
      <img class="icon" src="assets/location.png" />
      <div class="item-description">{{ location.name }}</div>
      <img
        class="icon clickable"
        [class.expanded-icon]="isLocationExpanded(location)"
        src="assets/up-arrow.png"
        (click)="$event.stopPropagation(); toggleLocation(location)"
      />
    </div>

    <ng-container *ngIf="isLocationExpanded(location)">
      <div *ngFor="let room of location.rooms">
        <div
          class="item room-item"
          [matTooltip]="room.name"
          (dragenter)="onDragEnter(room)"
          (click)="setDetailsTarget(room)"
        >
          <img class="icon" src="assets/room.png" />
          <div class="item-description">{{ room.name }}</div>
          <img
            class="icon clickable"
            [class.expanded-icon]="isRoomExpanded(room)"
            src="assets/up-arrow.png"
            (click)="$event.stopPropagation(); toggleRoom(room)"
          />
        </div>
        <ng-container *ngIf="isRoomExpanded(room)">
          <div *ngFor="let sensor of room.sensors">
            <div
              class="item sensor-item sensor-item-room"
              [matTooltip]="sensor.name"
              (dragstart)="onDrag(sensor)"
              (dragend)="onSensorDragEnd()"
              (dragenter)="onDragEnter(sensor)"
              (click)="setDetailsTarget(sensor)"
              [draggable]="true"
            >
              <img class="icon" src="assets/sensor.png" />
              <div class="item-description">{{ sensor.name }}</div>
            </div>
          </div>

          <div *ngFor="let device of room.devices">
            <div
              class="item device-item"
              [matTooltip]="device.name"
              (dragstart)="onDrag(device)"
              (dragend)="onDeviceDragEnd()"
              [draggable]="true"
              (dragenter)="onDragEnter(device)"
              (click)="setDetailsTarget(device)"
            >
              <img class="icon" src="assets/device.png" />
              <div class="item-description">{{ device.name }}</div>
              <img
                class="icon clickable"
                [class.expanded-icon]="isDeviceExpanded(device)"
                src="assets/up-arrow.png"
                (click)="$event.stopPropagation(); toggleDevice(device)"
              />
            </div>
            <ng-container *ngIf="isDeviceExpanded(device)">
              <div *ngFor="let sensor of device.sensors">
                <div
                  class="item sensor-item"
                  [matTooltip]="sensor.name"
                  (dragstart)="onDrag(sensor)"
                  (dragend)="onSensorDragEnd()"
                  (dragenter)="onDragEnter(sensor)"
                  [draggable]="true"
                  (click)="setDetailsTarget(sensor)"
                >
                  <img class="icon" src="assets/sensor.png" />
                  <div class="item-description">{{ sensor.name }}</div>
                </div>
              </div></ng-container
            >
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<img class="add-button" src="assets/plus.png" (click)="openAddDialog()" />

<app-container-details-dialog
  [(visible)]="isContainerDetailsVisible"
  [detailsTarget]="detailsTarget"
  (onChangeDetailsTargetName)="onChangeDetailsTargetName($event)"
  (onDelete)="onDeleteDetailsTarget()"
></app-container-details-dialog>

<app-device-details-dialog
  [(visible)]="isDeviceDetailsVisible"
  [detailsTarget]="detailsTarget"
  (onChangeDetailsTargetName)="onChangeDetailsTargetName($event)"
  (onChangeDetailsTargetModel)="onChangeDetailsTargetModel($event)"
  [device_models]="deviceModels"
  (onDelete)="onDeleteDetailsTarget()"
></app-device-details-dialog>

<app-sensor-details-dialog
  [(visible)]="isSensorDetailsVisible"
  [detailsTarget]="detailsTarget"
  (onChangeDetailsTargetName)="onChangeDetailsTargetName($event)"
  (onChangeDetailsTargetModel)="onChangeDetailsTargetModel($event)"
  [sensor_models]="sensorModels"
  (onDelete)="onDeleteDetailsTarget()"
></app-sensor-details-dialog>

<app-add-dialog
  [(visible)]="isAddDialogVisible"
  [fullStructure]="locations"
  (onAdd)="onAdd($event)"
  [deviceModels]="deviceModels"
  [sensorModels]="sensorModels"
></app-add-dialog>
