<p-dialog
  [header]="
    'Device: ' + detailsTarget?.name + ' (ID: ' + detailsTarget?.id + ')'
  "
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [maskStyleClass]="visible ? 'mask' : ''"
  [dismissableMask]="true"
>
  <div style="display: flex">
    <div>
      <div class="subtitle">Device model:</div>
      <div class="subitem">
        <span class="subtitle">Name: </span
        >{{ detailsTarget?.device_model?.name }}
      </div>
      <div class="subitem">
        <span class="subtitle">Producer name: </span
        >{{ detailsTarget?.device_model?.producent_name }}
      </div>
      <div class="subitem">
        <span class="subtitle">Link: </span
        ><a
          target="_blank "
          href="{{ detailsTarget?.device_model?.product_url }}"
          >{{ detailsTarget?.device_model?.product_url }}</a
        >
      </div>
    </div>
    <div style="margin-left: 1em">
      <div class="subtitle">
        Device status:
        <span
          *ngIf="detailsTarget?.device_status?.is_available; else down"
          style="color: green"
          >up</span
        >
        <ng-template #down><span style="color: red">down</span></ng-template>
        <span style="font-weight: normal">
          ({{ detailsTarget?.device_status?.timestamp }})</span
        >
      </div>
    </div>
  </div>
  <button class="footer-buttons" pButton (click)="op.toggle($event)">
    Edit name
  </button>
  <button class="footer-buttons" pButton (click)="opModel.toggle($event)">
    Change model
  </button>
  <button (click)="onDeleteClick()">Delete</button>
</p-dialog>

<p-overlayPanel #opModel [dismissable]="true" [showCloseIcon]="true">
  <ng-template pTemplate>
    <div style="font-weight: bold">Change model:</div>
    <select name="type" [(ngModel)]="selectedModelId">
      <option *ngFor="let item of device_models" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
    <button
      [disabled]="!selectedModelId.length"
      (click)="onChangeDetailsTargetModelFunc(); opModel.toggle($event)"
    >
      Save
    </button>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
  <ng-template pTemplate>
    <div style="font-weight: bold">Change name:</div>
    <input type="text" #changeName />
    <button
      (click)="
        onChangeDetailsTargetNameFunc(changeName.value); op.toggle($event)
      "
    >
      Save
    </button>
  </ng-template>
</p-overlayPanel>
